@import "tailwindcss";
@font-face {
    font-family: "Gerbil";
    src: url("./assets/fonts/gerbil.otf");
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: "Questrial", sans-serif;
}
.font-heading {
  font-family: "Gerbil", sans-serif;
}